/* Importação das Fontes Utilizadas */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Fromatação da Pagina como um todo */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/* Fim da Formatação da Pagina */




/* Header da Pagina com Menus e Logo */
.header {
    background-color: transparent;
    width: 100%;
    height: 20%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: start;
    gap: 900px;
}

.logo {
    background-color: transparent;
    width: 20%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 300px;
    background-color: transparent;
}

.menus {
    background-color: transparent;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;
    
}

.menus a {
    font-size: 1.2em;
    text-decoration: none;
    color: #113E59;
    font-family: "Poppins", system-ui;
    font-weight: 900;
    width: 120px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menus a:hover,
.menus a:active,
.menus a:focus {
    color: #fff;
    text-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #113E59;
    transform: scale(1.1);
    transition: .3s;
    border-radius: 30px;
    text-shadow: none;
    
}

/* Fim do Header */


/* Container que contem todas as Sections da Pagina */
.container {
    width: 100%;
    height: 100vh;    
}

/* Formatação de Todas as Sections Golbalizadas */
section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;

}


/* Formatação da Section Inicial da Pagina */
section:nth-of-type(1) {
    background-image: url('assets/imgs/backg.jpeg');
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 0px;
}

/* Formatação e alinhamento da imagem da pagina de Inicio */
.start-img {
    background-color: transparent;
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-img img {
    width: auto;
    height: 100%;
}

/* Formatação dos Textos Exibidos na Primeira Section */
.start-text {
    background-color: transparent;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.start-text h1 {
    color: #113E59;
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
    letter-spacing: -3px;
    text-align: center;
    line-height: 50px;
}

#destaqueword {
  background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

.gradient {
    background: linear-gradient(90deg, rgba(17,62,89,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

.start-text p {
    color: #113E59;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

/* Botão de Direcionamento da Pagina */
.Page-Btn {
    background-color: #113E59;
    border-radius: 100px;
    box-shadow: #1B8CA6 0 -25px 18px -14px inset,#1B8CA6 0 1px 2px,#1B8CA6 0 2px 4px,#1B8CA6 0 4px 8px,#1B8CA6 0 8px 16px,#1B8CA6 0 16px 32px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 30px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .Page-Btn:hover {
    box-shadow: #1B8CA6 0 -25px 18px -14px inset,#1B8CA6 0 1px 2px,#1B8CA6 0 2px 4px,#1B8CA6 0 4px 8px,#1B8CA6 0 8px 16px,#1B8CA6 0 16px 32px;
    transform: scale(1.05) 
  }
/* Fim da Formatação da primeira Section */







section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    
}    

.cases-box {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 150px;
    gap: 30px;
}

.text-cases {
    width: 20%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.fake-btn {
    background-color: transparent;
    width: 190px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #113E59;
    border: solid #113E59 3px;
    border-radius: 35px;
    
    
}

.text-cases h1 {
    color: #113E59;
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5em;
    letter-spacing: -3px;
    text-align: center;
    line-height: 35px;
}




.box-cases {
    width: 60%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.case-1, .case-2, .case-3 {
    width: 30%;
    height: 80%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.case1-effect{
    visibility: hidden;
}


.case-1:hover {
    transform: scale(1.02);
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.case1-clientbox {
    width: 150px;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #113E59;
}

.case1-imgbox {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
}

.case1-imgbox img {
    width: 100%;
}

.case1-text {
    font-size: 14px;
    width: 80%;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #113E59;
}




.case-2 {
    flex-direction: column-reverse;
}

.case-2:hover {
    transform: scale(1.02);
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.case2-clientbox {
    width: 150px;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #113E59;
}

.case2-imgbox {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
}

.case2-imgbox img {
    width: 100%;
}

.case2-text {
    font-size: 14px;
    width: 80%;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #113E59;
}


.case-3:hover {
    transform: scale(1.02);
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.more-btn {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #113E59;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .more-btn:hover,
  .more-btn:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: #113E59;
  }
  
  .bmore-btn:hover {
    transform: translateY(-1px);
  }
  
  .more-btn:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }









.info-box {
    width: 100%;
    height: 40%;
    background-color: #F0F0F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.info-box-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

.info-box-image img {
    width: 100%;
    height: 100%;
}


.info-box-text {
    background-color: transparent;
    width: 50%;

}

.info-box-text h1 {
    color: #113E59;
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    letter-spacing: -2px;
    text-align: center;
    line-height: 30px;
}










section:nth-of-type(3) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 190px;
    gap: 60px;
}


.about-us-box {
    width: 35%;
    height: 70vh;
    background-color: #2192BF;
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 20%;
}


.about-text {
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.fake-btn-sociais {
    background-color: transparent;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #113E59;
    border: solid #113E59 3px;
    border-radius: 35px;
}


.about-text h1 {
    color: #113E59;
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
}

#about-name {
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    font-size: 1.5em;
}

.about-text p {
    color: #113E59;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.about-bruno {
    width: 100%;
}











.about-back-img {
    width: 700px;
    height: 700px;
    background: rgb(115,134,230);
    background: radial-gradient(circle, rgba(115,134,230,1) 0%, rgba(0,0,0,1) 100%);
    border-radius: 50%;
    overflow: hidden;
}

.about-back-img img {
    width: 100%;
}








section:nth-of-type(4) {
    
}









